.plat-card {
  @include flex-center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;

  &.plat-card-youtube {
    width: 250px;
    height: 280px;
    flex-direction: column;
    gap: 8px;
    border: $border-light-gray;
  }

  &.plat-card-wikipedia {
    width: 300px;
    height: auto;
    max-height: 500px;
    border: $border-light-gray;
  }

  &.plat-card-tiktok {
    position: relative;
    max-width: 200px;
    aspect-ratio: 9/16;
  }

  &.plat-card-spotify {
    position: relative;
    width: 300px;
    aspect-ratio: 1/1;
  }
}
