.user-rating-card{
    @include flex-center;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: $card-background;
}