.hero-content{
    @include flex-center;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    padding: 0 160px;
    text-align: center;

    h1{
        font-size: 40px;
        font-weight: 700;
        color: $text-light;
    }

    p{
        font-size: 16px;
        color: $text-muted;
    }

    @include respond(md){
        padding: 0 40px;
    }

    @include respond(sm){
        padding: 0 20px;
        h1{
            font-size: 32px;
        }

        p{
            font-size: 14px;
        }
    }
}